@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set base styles */
body {
  @apply bg-[#081104] text-[#FDF0B1];
  font-family: "Playfair Display", serif;
}

html, body {
  overflow-x: hidden; 
  width: 100%;
}

section {
  max-width: 100vw; /* Prevents sections from overflowing */
}

